* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black-color);
  background: var(--light-orange-color);
}

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/

:root {
  --red-color: #dd3038;
  --orange-color: #e7613a;
  --light-orange-color: #FDF4F2;
  --black-color: #292929;
  --grey-color: #696969;
  --white-color: #FFFFFF;
  --global-width: 70vw;
  --global-margin: auto;
}
